[class^='results__entry_'] img {
  width: 40px;
  height: auto;
  border-radius: 40px;
  transition: box-shadow .3s;
}

[class^='results__entry_'] img:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 5px #DEF9EB;
}

li, ul {
  padding: 0;
  margin: 4px;
  list-style: none;
}

.results__content {
  width: 100%;
}

.results__container {
  display: flex;
  justify-content: center;
}

.results__entry_list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  justify-content: center;
}
