[class^='results__entry_'] img {
  width: 40px;
  height: auto;
  border-radius: 40px;
  transition: box-shadow .3s;
}

[class^='results__entry_'] img:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 10px #DEF9EB;
}

li, ul {
  padding: 0;
  margin: 4px;
  list-style: none;
}

.results__content {
  width: 100%;
}

.results__more_button {
  box-sizing: border-box;
  width: 100px;
  border: none;
  font-size: 14px;
  margin-bottom: 15px;
  border-bottom: 3px solid #ffffff;
}

.results__more_button:hover {
  border-bottom: 3px solid #DEF9EB;
  cursor: pointer;
}

.results__more_button:focus {
  outline: none;
}

.results__container {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.results__button {
  margin: auto;
}

.results__entry_list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  justify-content: center;
}
