.App {
  text-align: center;
}

.App-header {
  background-color: #F7F5EC;
  height: 60px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app_body {
  display: grid;
  margin: auto;
  width: 100%;
  height: auto;
  grid-template-columns: 2fr 4fr;
}

.prev_searches__container {
  background-color: #F7F5EC;
  min-height: 60vw;
}

.prev_searches__container p {
  font-size: 20px;
  text-decoration: underline;
}
